
.image-logo img{
    width:300px;
}

header{
    height:40px;
    width:100%;
    margin-top:10px;
    background-color:black;
    color:white;
}

header ul li{
    float:left;
    list-style:none;
    padding-right:20px;
    color:white;
    font-size:15px;
    line-height:42px;
    padding-left:70px;
}
main{
    clear:both;
}
.main-container{
    width:95%;
    margin: 0 auto;
    margin-top:70px;
}
.left{
    float:left;
    width:60%;
}

h1{
    font-size:20px;
    border-left:5px solid black;
    border-bottom:2px solid black;
    padding-left:20px;
}
h2{
    font-size:13px;
    padding-left:25px;
}
.bookstore img{
    width:800px;
}
.box2{
    width:800px;
    background-color:lightgray;
    text-align:center;
    margin-bottom:40px;
}
.box2 img{
    width:170px;
    margin:20px 10px 10px 10px
}
.box2 .box_pic1{
    display:inline-block;
}
.box2 .box_pic2{
    display:inline-block;
}

.right{
    float:right;
    width:30%;
}
h3{
    font-size:18px;
    border-bottom:2px dotted black;
}
.b{
    line-height:38px;
    font-size:15px
}
h4{
    font-size:18px;
    border-bottom:2px dotted black;
}
.c{
    font-size:15px;
    line-height:38px;
}
h5{
    font-size:18px;
    border-bottom:2px dotted black;
}
.d{
    font-size:15px;
    line-height:38px;
}
    
footer{
    clear:left;
    width:100%;
    color:white;
    background-color:black;
    text-align:center;
}